{% url 'register:signin' as register_url %} {% url 'home:index' as home_url %}
{% load static %}
<nav>
	<div><a href="{{ home_url }}" class="logo"><img src="{% static 'images/icon/logo.png' %}" alt="logo"></a></div>
	<h3 style="color: #27e0cf; font-size: 25px; font-family: 'Cabin', sans-serif;">Welcome to Insanity Learner</h3>
	<ul>
		<li><a class="active" href="">Home</a></li>
		<li><a href="#portfolio_section">Portfolio</a></li>
		<li><a href="#team_section">Team</a></li>
		<li><a href="#services_section">Services</a></li>
		<li><a href="#contactus_section">Contact</a></li>
	</ul>
	<div class="srch"><input type="text" class="search" placeholder="Search here..."><img src="{% static 'images/icon/search.png' %}" alt="search" onclick=slide()></div>
	{% if user.is_authenticated %}
		<a class="get-started" href="{% url 'register:signout' %}">Hi {{user.username}}</a>
	{% else %}
			<a class="get-started" href="{{ register_url }}">Get Started</a>
	{% endif %}
	<img src="{% static 'images/icon/menu.png' %}" class="menu" onclick="sideMenu(0)" alt="menu">
</nav>

<div class="side-menu" id="side-menu">
	<div class="close" onclick="sideMenu(1)"><img src="{% static 'images/icon/close.png' %}" alt=""></div>
	<div class="user">
		<img src="{% static 'images/creator/roshan.jpeg' %}" alt="Username">
		<p>Priyanshu</p>
	</div>
	<ul>
		<li><a href="#about_section">About</a></li>
		<li><a href="#portfolio_section">Portfolio</a></li>
		<li><a href="#team_section">Team</a></li>
		<li><a href="#services_section">Services</a></li>
		<li><a href="#contactus_section">Contact</a></li>
		<li><a href="#feedBACK">Feedback</a></li>
	</ul>
</div>

